img {
    width:85%;
}

a {
    color:#00abff;
    text-decoration:none;
}

h1 {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#blog_header{
    float: unset;
}

#header_logo {
    width: 68%;
    margin:auto;
    padding:0 0 0 30px
}

#menu_header{
    margin: 40px 0 0 0;
    width: auto;
    float: unset;
}

#menu_links{
    margin:auto;
    width: 68%;
    padding: 0 0 0 30px;
}

#menu_statistic{
    width: 10%;
    float: right;
}

#content {
    margin: auto;
    width:68%;
    padding:0 0 0 30px;
    word-wrap: break-word;
}

#sidebar {
    margin: 60px 0 0 0;
    float:left;
    width:25%;
    padding:10px;
    height:50%;
    border-left-style: solid;
    border-left-width: 1px;
    word-wrap: break-word;
}



p.date {
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#555555;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.codelist {
	color: white;
	background-color:#808080;
	border-radius:2px;
	display: block;
	width: 85%;
	margin: 0 0 0 0;
}

.img_review {
  width: auto;
  display: inline-block;
}

.img_review img {
  width: 50%;
  height: auto;
}

#auth_bar {
  margin:auto;
  display:inline-block;
  float:right;
}

#tools {
 text-align: right;
}
