{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}


{% block content %}
    <h2>{{ post.title }}</h2>
    <p class="date">
        Published{{ post.publish }} by {{ post.author }}
    </p>
    <!-- featured image -->
    {{ post.body|markdown }}
    <p4>
        <a href="{% url "blog:post_share" post.id %}">
            поделиться публикацией
        </a>
    </p4>
    
    {% if request.user.is_authenticated  %}
    	{% ifequal request.user.id post.author.id %}
    		<p4>
		<a href="{% url "blog:post_delete" post.id %}" title="delete" class="delete" onclick="return confirm('Вы действительно хотите удалить эту публикацию?')"> Удалить </a>
    		</p4>
		<p4>
	        <a href={% url "blog:post_change" post.id %}> Редактировать </a>
		</p4>
    	{% endifequal  %}
    {% endif  %}

    <h5>Похожие публикации</h5>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        There are no similar post yet.
    {% endfor %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p> There are no comments yet.</p>
    {% endfor %}

    {% with comments.count as total_comments %}
        <h3>
            {{ total_comments }} comment {{ total_comments|pluralize }}
        </h3>
    {% endwith %}

    {% if new_comment %}
        <h3>Your comment has been added</h3>
    {% else %}
        <h3>Add a new comment</h3>
        <form method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
             <p><input type="submit" value="Добавить комментарий"></p>
        </form>
    {% endif %}
{% endblock %}
